<div class="container mt-5 w-75 bg-color p-5 mb-5">
  <h2 class="mb-3">Centro de mensajes</h2>
  <form>
    <input
      class="form-control input-size-m mb-2"
      type="text"
      id="email"
      aria-required="true"
      placeholder="Ingresá tu mail"
    />
    <input
      class="form-control input-size-m mb-2"
      type="text"
      id="name"
      aria-required="true"
      placeholder="Ingresá tu nombre"
    />
    <input
      class="form-control input-size-m mb-2"
      type="text"
      id="apellido"
      aria-required="true"
      placeholder="Ingresá tu apellido"
    />
    <input
      class="form-control input-size-m mb-2"
      type="number"
      id="edad"
      aria-required="true"
      placeholder="Ingresá tu edad"
    />
    <input
      class="form-control input-size-m mb-2"
      type="text"
      id="alias"
      aria-required="true"
      placeholder="Ingresá tu alias"
    />
    <input
      class="form-control input-size-m mb-2"
      type="text"
      id="avatar"
      aria-required="true"
      placeholder="Ingresá el link de tu avatar"
    />
    <div class="row g-3">
      <div class="col-auto">
        <input
          class="form-control input-size-l mb-2"
          type="text"
          id="text"
          placeholder="Ingresá tu mensaje..."
        />
      </div>

      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary input-size-xs"
          id="botonMensaje"
        >Enviar</button>
      </div>

    </div>
  </form>
  <hr />
  <div id="mensajes">
  </div>
</div>
<img src="" alt="">