<div class="container mt-5 w-75 bg-color p-5">
      <h2 class="mb-3">Agregá un nuevo producto</h2>

      <form class="w-75">
        <div class="mb-3 w-50">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" />

        </div>
        <div class="mb-3 w-25">
          <label for="precio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precio" />
        </div>
        <div class="mb-3 w-75">
          <label for="link" class="form-label">Link</label>
          <input type="text" class="form-control" id="link" />
        </div>
        <button type="button" class="btn btn-primary" id="botonAgregar">Agregar</button>
      </form>

    </div>