<div class="container mt-5 w-75 bg-color p-5">

  <h2 class="mb-3">Lista de productos</h2>
  <table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>

    <tbody id="bodyTabla">

    </tbody>

  </table>

</div>